#home-main {
    height: 90%;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;

}

#top-list-container {
    width: 65%;
    height: fit-content;
    border-right: 1px solid rgb(153, 99, 99);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding-left: 10px;
}

#other-container {
    width: 30%;
}

#home-title, #recomended {
    font-size: 55px;
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(200, 140, 140);
}

.top-lists-item {
    display: flex;
    justify-content: flex-start;
    height: 130px;
    margin-bottom: 10px;
    width: 90%;
    padding-left: 10px;
}

.top-lists-item-name-and-description-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.top-lists-image-container {
    border: 2px solid black;
    width: 20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-lists-item-name {
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(200, 140, 140);
    text-decoration: none;
}

.top-lists-item-name:hover {
    text-decoration: none;
    color: rgb(153, 99, 99);
    cursor: pointer;
}

#top-list-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
