/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, button,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--pink-1: #FFE0D8;
	--pink-2: #FF8A6B;
	--pink-3: #FF5326;
	--pink-4: #B02602;
	--tan-1: #FFFDD8;
	--tan-2: #FFCE6B;
	--tan-3: #FFB726;
	--tan-4: #B07602;
	--blue-1: #DAE4FC;
	--blue-2: #6586D2;
	--blue-3: #2A52B0;
	--blue-4: #0D2D76;
	--yellow-1: #FFFDD8;
	--yellow-2: #FFF66B;
	--yellow-3: #FFF226;
	--yellow-4: #B0A502;
	--font-1: 'Open Sans', sans-serif;
	--font-2: 'Potta One', cursive;
	--font-3: 'Nanum Gothic', sans-serif;
}

::-moz-selection {
    color: none;
    background: none;
}