/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

:root {
  --pink-1: #ffe0d8;
  --pink-2: #ff8a6b;
  --pink-3: #ff5326;
  --pink-4: #b02602;
  --tan-1: #fffdd8;
  --tan-2: #ffce6b;
  --tan-3: #ffb726;
  --tan-4: #b07602;
  --blue-1: #dae4fc;
  --blue-2: #6586d2;
  --blue-3: #2a52b0;
  --blue-4: #0d2d76;
  --yellow-1: #fffdd8;
  --yellow-2: #fff66b;
  --yellow-3: #fff226;
  --yellow-4: #b0a502;
  --orange-1: #fd5f1b;
  --gray-1: #a7a7a7;
  --gray-2: #E5E5E5; 
  --gray-3: #f5f5f5; 

  --font-1: "Open Sans", sans-serif;
  --font-2: "Potta One", cursive;
  --font-3: "Nanum Gothic", sans-serif;
  --font-4: "Josefin Sans", sans-serif;
  --font-5: "Teko", sans-serif;
  --font-6: 'Lato', sans-serif;
  --main-page-header: "Montserrat", sans-serif;
}

::-moz-selection {
  color: none;
  background: none;
}

.site-button {
  font-family: var(--font-1);
  width: fit-content;
  background-color: var(--pink-3);
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

.site-button-2 {
  width: 153px;
  height: 56px;
  background: #fd5f1b;
  border-radius: 5px;
  font: var(--font-6);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.justify-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
