#list-index-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
}

#no-lists {
  font-family: var(--font-1);
  color: var(--blue-2);
  font-size: 35px;
}

.list-index-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.list-index-item-li {
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  /* height: 200px; */
  margin-bottom: 10px;
  width: 90%;
  padding: 10px;
  border: 1px solid rgb(248, 241, 241);
   
}

.list-index-image-container {
  border: 2px solid black;
  height: 150px;
  width: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/rankerLogo.png);
  background-size: contain; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--pink-3);
}

.list-image {
  height: 150px;
  width: 225px;
  border: 2px solid black;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.delete-list-button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 3%;
  top: 4%;
}

.delete-list-button:hover {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.list-index-item-name-and-description-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.list-index-item-name {
  font-size: 25px;
  margin: 0;
  font-family: var(--font-3);
  color: var(--pink-3);
  text-decoration: none;
}

.list-index-author {
  font-size: 15px;
  font-family: var(--font-3);
  color: var(--blue-2);
  width: fit-content;
  z-index: 1;
}

.list-index-category {
  font-size: 15px;
  font-family: var(--font-3);
  color: var(--pink-2);
}

.list-index-category:hover {
  cursor: pointer;
  color: var(--blue-3);
}

.list-index-item-name:hover {
  cursor: pointer;
  opacity: .7;
}

.list-index-item-li:hover  {
  cursor: pointer;
}

.list-index-author:hover {
  cursor: pointer;
  opacity: .7;
}

.list-index-author > span {
  color: black;
}

.list-index-item-description {
  font-size: 20px;
  font-family: var(--font-1);
  font-weight: bolder;
  color: black;
  text-decoration: none;
}

.list-index-item-num-completions {
  position: absolute;
  right: 12%;
  bottom: 0px;
  font-size: 15px;
  font-family: var(--font-1);
  color: black;
  text-decoration: none;
}

.num-completions-span {
  color: red;
  margin-left: 5px;
  margin-right: 3px;
}
