#list-index-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 400px;
}

#no-lists {
  font-family: var(--font-6);
  color: var(--blue-2);
  font-size: 35px;
}

.list-index-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.list-index-item-li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  padding-left: 20px;
  border-bottom: 1px solid var(--gray-2);
}

.list-index-image-container {
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: 20px;
}

.list-image {
  height: 200px;
  width: 350px;
  border: 2px solid black;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.list-index-button {
  margin-right: 20px;
}

.created-date {
  font: var(--font-6);
  font-size: 15px;
  color: var(--gray-1);
}


.list-index-item-info {
  margin-left: 10px;
}

.list-index-item-name {
  font-size: 30px;
  margin: 0;
  font-family: var(--font-6);
  font-weight: 700;
  text-decoration: none;
  line-height: 36px;
  margin-bottom: 10px;
}

.list-index-author {
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-3);
  font-weight: 400;
  color: var(--gray-1);
  width: fit-content;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.list-index-author > span {
  color: var(--gray-1);
}

.list-index-author:hover {
  cursor: pointer;
  color: var(--blue-3);
}

.list-index-category {
  font-size: 15px;
  font-family: var(--font-3);
  color: var(--pink-2);
}

.list-index-category:hover {
  cursor: pointer;
  color: var(--blue-3);
}

.list-index-author:hover {
  cursor: pointer;
  opacity: 0.7;
}

.list-index-item-description {
  width: 500px;
}
.list-index-item-description > p {
  font-size: 20px;
  font-family: var(--font-6);
  font-weight: 400;
  text-decoration: none;
}

.list-index-item-num-completions {
  font-size: 20px;
  font-family: var(--font-6);
  font-weight: 700;
  color: var(--orange-1);
  text-decoration: none;
  margin: 0;
  margin-left: 20px;
}

.num-completions-span {
  margin-left: 5px;
  margin-right: 3px;
}
