.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(189, 181, 181, 0.95);
  z-index: 10;
  animation-name: modal-background-fade-in;
  animation-duration: 0.4s;
  width: 100vw;
}

@keyframes modal-background-fade-in {
  from {
    background: transparent;
  }
  to {
     background: rgba(189, 181, 181, 0.98);
  }
}

.modal-child {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}