#nav-main {
  width: 100%;
  height: 8%;
  background-color: rgb(200, 140, 140);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-title {
  font-size: 45px;
  font-family: 'Potta One', cursive;
  color: white;
  margin-left: 20px;
  margin-bottom: 3px;
  text-decoration: none;
}

#navbar-title:hover {
  cursor: pointer;
  color: rgb(234, 232, 232);
}

.nav-session-button {
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: none;
  margin-right: 7px;
  width: 100px;
  color: white;
  text-align:center;
  vertical-align: center;
}

.nav-session-button:hover {
  cursor: pointer;
  text-decoration: none;
}


#navbar-buttons-container {
    display: flex;
    justify-content: center;
}

