#nav-main {
  width: 100%;
  height: 60px;
  background-color: var(--pink-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-title {
  font-size: 45px;
  font-family: var(--font-2);
  color: white;
  margin-left: 20px;
  margin-bottom: 3px;
  text-decoration: none;
}

#navbar-title:hover {
  cursor: pointer;
  color: rgb(234, 232, 232);
}

.nav-session-button {
  font-size: 21px;
  font-family: var(--font-3);
  text-decoration: none;
  width: 110px;
  color: white;
  text-align: center;
  vertical-align: center;
}

.nav-session-button:hover {
  cursor: pointer;
  text-decoration: none;
}

#navbar-buttons-container {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
