#new-lists-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(235, 234, 234);
  border-radius: 5px;
  height: fit-content;
  border-top: 12px solid var(--pink-3);
}

#new-list-title-and-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 15px;
}

#new-lists-ul {
  width: 100%;
}

#new-lists-header {
  margin: 0;
  font-size: 18px;
  font-family: var(--font-1);
  font-weight: 600;
  color: var(--pink-3);
  padding-left: 10px;
  width: fit-content;
  align-self: flex-start;
}

.new-lists-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid rgb(243, 242, 242);
  width: 100%;
  padding: 2%;
}

.new-lists-item:hover {
  background-color: var(--tan-1);
  cursor: pointer;
}

.new-lists-image-container {
  border: 2px solid black;
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/rankerLogo.png);
  background-size: contain; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--pink-3);
}

.new-lists-image-container > img {
  height: 100px;
  width: 150px;
  border: 2px solid black;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.new-lists-item-name {
  font-size: 20px;
  font-family: var(--font-3);
  color: var(--pink-3);
  text-decoration: none;
  margin-bottom: 0px;
  text-align: center;
}
