.rankings-main-container {
  width: 90%;
  border-color: 1px solid blue;
  margin-top: 2%;
}

.rankings-header-container {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.rankings-list-description {
  height: 200px;
  width: 30%;
}

.rankings-list-stats {
  height: 160px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.rankings-stats-header {
  margin-bottom: 10px;
  font-family: var(--font-6);
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #c4c4c4;
}

.rankings-stats-data {
  font-family: var(--font-6);
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

.rankings-list-image-container {
  height: 200px;
  width: 30%;
  padding-left: 2%;
}

.rankings-list-image {
  height: 200px;
  width: 300px;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.rankings-ranking-container {
  width: 100%;
  margin-top: 20px;
}

.rankings-global-rankings {
  width: 70%;
}

.rankings-personal-rankings {
  width: 30%;
  height: 100%;
  padding-left: 2%;
}

.rankings-list-title {
  font-family: var(--font-6);
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.rankings-list-author {
  display: flex;
  justify-content: flex-start;
}

.rankings-list-author > p,
.rankings-list-author > span {
  font-size: 15px;
  line-height: 18px;
  font-family: var(--font-6);
  font-weight: 400;
  color: var(--gray-1);
  text-transform: capitalize;
  margin-right: 5px;
}

.rankings-list-author > p:hover {
  cursor: pointer;
  color: var(--blue-2);
}

.rankings-list-created-date {
  font-size: 15px;
  line-height: 18px;
  font-family: var(--font-6);
  font-weight: 400;
  color: var(--gray-1);
  text-transform: capitalize;
  margin-right: 5px;
}

.rankings-list-description-text {
  font-size: 15px;
  line-height: 18px;
  font-family: var(--font-6);
  font-weight: 400;
  text-transform: capitalize;
}

.rankings-title {
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-6);
  font-weight: 700;
  margin-bottom: 30px;
}

.rankings-options {
  width: 100%;
}

.rankings-global-item {
  width: 100%;
}

.rankings-global-item-title {
  width: 30%;
}

.ranking-global-visual-container {
  width: 70%;
}

.rankings-global-item-visual {
  background-image: linear-gradient(to right, #ffb800, #fd5f1b);
  height: 15px;
}

.rankings-global-item-title > span,
.rankings-global-item-title > h2 {
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-6);
  font-weight: 700;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 5px;
}

.rankings-personal-item {
  height: 30px;
}

.rankings-personal-item > span,
.rankings-personal-item > h2 {
  font-size: 15px;
  line-height: 18px;
  font-family: var(--font-6);
  font-weight: 700;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 5px;
}

.rankings-no-ranking-header {
  font-size: 15px;
  line-height: 18px;
  font-family: var(--font-6);
  font-weight: 700;
}