#completed-list-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
}

#personal-and-global-ranking-main-div {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#ranking-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 400px;
    box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.3);
}

#ranking-main-div  > ul {
  width: 100%;
}

#main-ranking-header {
  font-size: 55px;
  font-family: var(--font-3);
  font-weight: 900;
  color: var(--pink-3);
  margin-bottom: 40px;
  text-shadow: 5px 5px var(--pink-1);
}

.ranking-header {
  font-size: 40px;
  font-family: var(--font-3);
  font-weight: 700;
  color: var(--pink-3);
  padding: 15px;
}

.ranking-name {
  font-size: 30px;
  font-family: var(--font-3);
  font-weight: 800;
  color: var(--pink-4);
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.ranking-name > span {
  width: 10%;
  color: var(--pink-3);
  margin-left: 10px;
}

.ranking-name > h2 {
  width: 85%;
}
