#completed-list-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
    width: 80%;
}

#personal-and-global-ranking-main-div {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#personal-ranking-main-div, #global-ranking-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    width: 45%;
}

#main-ranking-header {
  font-size: 55px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  color: rgb(206, 124, 124);
  margin-bottom: 40px;
}

.ranking-header {
  font-size: 40px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  color: rgb(206, 124, 124);
  padding: 15px;
}

.ranking-name {
  font-size: 30px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  color: rgba(156, 6, 6, 0.453);
  margin-bottom: 10px;
}
