#search-bar-container {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  position: relative;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search-input-and-icon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#search-input {
  width: 100%;
  margin: 0;
  height: 50px;
  padding-left: 5px;
  border-radius: 2px;
  border: 2px solid var(--gray-2);
  background: var(--gray-3);
}

#search-icon-container {
  width: 50px;
  height: 50px;
  border: 1px solid var(--gray-2);
  background-color: var(--gray-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-icon {
  width: 25px;
  height: 25px;
}

#search-icon:hover {
  opacity: 0.7;
}

.search-result-ul {
  width: 100%;
  border: 3px solid var(--gray-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  z-index: 2;
  top: 50px;
  /* background-color: var(--gray-3); */
  background-color: white;
  padding-top: 2%;
  visibility: hidden;
}

.search-result-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--gray-2);
  height: 50px;
  padding-left: 4%;
}

.search-result-item:hover {
  cursor: pointer;
   background-color: var(--gray-3);
}

.search-result-item-image {
  height: 40px;
  width: 60px;
  object-fit: cover;
  background-image: url(../assets/rankerLogo.png);
  background-size: contain; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid gray;
  margin-left: auto;
  margin-right: 10px;
}

.search-result-title {
  margin: 0;
  font-family: var(--font-6);
  font-size: 17px;
  margin-left: 2%;
}
