#session-form {
  position: relative;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

#session-form > h3 {
  margin: 10px;
  font-size: 40px;
  font-family: var(--font-6);
  font-weight: 400;
  color: var(--orange-1);
  text-align: center;
}

#session-inputs-container {
  padding: 25px 25px 5px 25px;
}

.session-input-container {
  margin-bottom: 25px;
  height: 90px;
}

.session-input-container > p {
  color: #818181;
  font-size: 25px;
  font-family: var(--font-6);
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 10px;

}

.session-input-container > input {
  height: 40px;
  border: 3px solid var(--gray-2);
  font-size: 20px;
  font-family: var(--font-6);
  padding-left: 15px;
  width: 30ch;
}

.session-submit-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

#session-submit{
  background-color: var(--orange-1);
  display: flex;
  justify-content: center;
  padding: 10px 25px 10px 25px;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-family: var(--font-6);
  font-size: 20px;
  line-height: 24px;
}


.switch-session-container {
  width: 100%;
  margin-top: 20px;
}

.switch-session-text, .switch-session-button {
  font-family: var(--font-6);
  font-size: 20px;
  line-height: 24px;
}

.switch-session-text {
  color: #818181;
}

.switch-session-button:hover {
  cursor: pointer;
  opacity: .8;
}

.switch-session-button {
  color: var(--orange-1);
  margin-left: 5px;
}

#session-submit:hover {
  cursor: pointer;
  opacity: .8;
}

.session-info-error {
  font-family: var(--font-6);
  font-size: 18px;
  color: rgb(245, 7, 7);
  margin-top: 5px;
}

.login-error {
  font-family: var(--font-6);
  font-size: 18px;
  color: rgb(245, 7, 7);
  text-align: center;
  position: absolute;
  width: fit-content;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-error {
  border: 2px solid red !important;
}


