#tabs-container-div {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(250, 248, 248);
}

#tab-names-ul {
  padding: 20px;
  min-width: 250px;
}

.tab-names-li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.activeTab {
  border-bottom: 2px solid var(--orange-1) !important;
}

.tab-names-li > h1 {
  color: var(--gray-1);
  font-family: var(--font-6);
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.activeTabText {
  color: var(--orange-1) !important;
}

.tab-names-li:hover > h1 {
  color: var(--blue-2);
  cursor: pointer;
}
