.user-profile-main-container {
  width: 75%;
  display: flex;
}
.user-info-main-container {
  width: 100%;
  padding: 10px;
  margin: 20px;
  border-bottom: 1px solid #E5E5E5;
}

.name-and-joined,
.user-info-data-container {
  margin-left: 5%;
}

#user-profile-name {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  font-family: var(--font-6);
  text-transform: capitalize;
}

#user-profile-joined {
  font-family: var(--font-6);
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: #bebebe;
}

.user-info-data-container {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-info-category {
  font-family: var(--font-6);
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: #bebebe;
}

.user-info-data {
  font-family: var(--font-6);
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

#user-profile-image-container,
#user-profile-image-container-no-hover {
  height: 200px;
  width: 200px;
  border: 1px solid var(--pink-2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-image: url(../assets/avatar.svg);
  background-size: contain; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--pink-1);
}

.update-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#user-profile-image-container:hover .update-picture {
  visibility: visible;
}

#user-profile-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#user-profile-error {
  font-family: sans-serif;
  font-size: 15px;
  color: red;
  align-self: center;
  position: absolute;
  top: 0px;
  left: 7px;
}
