#user-profile-main-container {
    height:fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
} 

#user-lists-container {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    padding-top: 15px;
}

#user-profile-name{
    margin-left: 17px;
    font-size: 45px;
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(206, 124, 124);
}

.user-profile-list-category-title {
    font-size: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(211, 90, 90);
}

#user-profile-header {
    display:flex;
    justify-content: flex-start;
    padding: 15px;
}


#user-profile-image-container {
    height: 200px;
    width: 200px;
    border: 1px solid rgb(211, 90, 90);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-image: url(../assets/avatar.svg);
    background-size: contain; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(200, 140, 140);
}

#user-profile-image-container:hover {
    cursor: pointer;
    opacity: 70%;
}

#user-profile-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#profile-photo-text {
    background-color: rgb(226, 223, 223);
    width: 90%;
    text-align: center;
}
