#create-list-main-div {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

#create-list-form {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid var(--main-color-2);
  position: relative;
  background-color: white;
}

#create-list-error-container {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

#create-list-error {
  font-family: sans-serif;
  font-size: 18px;
  color: var(--main-color-3);
  align-self: center;
}

#create-list-options-div,
#create-list-title-div,
#create-list-description-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
  margin-bottom: 2%;
}

#title-label,
#options-label,
#description-label,
#unlisted-label,
#image-label {
  font-family: sans-serif;
  font-size: 17px;
  color: var(--main-color-2);
  font-weight: 600;
}

#title-input {
  width: 47.5%;
}

#description-input {
  min-width: 94%;
  font-family: sans-serif;
  font-size: 15px;
}

#create-list-submit {
  font-family: sans-serif;
  font-size: 20px;
  width: fit-content;
  align-self: center;
  background-color: var(--main-color-2);
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  border-radius: 13%;
}

#create-list-submit:hover {
  cursor: pointer;
  background-color: var(main-color-2);
}
