#create-list-form {
  width: 100vw;
  padding-left: 6%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

#create-list-title {
  font-family: var(--font-6);
  font-size: 50px;
  color: var(--orange-1);
  line-height: 60px;
  font-weight: 700;
}

#create-list-error-container {
  height: 30px;
  width: contain;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: -20px;
  background-color: var(--yellow-1);
}

#create-list-error {
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 900;
  color: var(--pink-3);
  align-self: center;
}

#create-list-info-and-image-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

.categories-unlisted-container {
  margin-bottom: 30px;
  width: 100%; 
}

#list-info-container {
  width: 50%;
}

#create-list-options-div,
#create-list-title-div,
#create-list-description-div {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-top: 2%;
  width: 100%;
}

#title-label,
#options-label,
#description-label,
#unlisted-label,
#image-label,
#category-label {
  font-family: var(--font-6);
  font-size: 25px;
  line-height: 30px;
  color: #818181;
  font-weight: 700;
  margin-bottom: 15px;
}

#title-input,
#description-input,
.option-input {
  height: 45px;
  border: 1px solid gray;
  border-radius: 3%;
  width: 350px;
  font-size: 30px;
  line-height: 35px;
  color: #818181;
  margin-bottom: 30px;
  padding-left: 10px;
}

.option-input {
  height: 20%;
}

#title-input {
  width: 100%;
}

#description-input {
  width: 100%;
  resize: none;
  height: 30%;
  font-size: 20px;
}

#create-list-submit {
  font-family: var(--font-1);
  font-size: 25px;
  background-color: var(--pink-3);
  color: white;
  padding: 10px;
  border-radius: 3%;
  border: none;
  align-self: center;
  margin-bottom: 3%;
}

#create-list-submit:hover {
  cursor: pointer;
  background-color: var(--pink-2);
}

#option-preset-button {
  font-family: var(--font-1);
  font-size: 18px;
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
  height: 40px;
  width: fit-content;
}

#option-preset-button:hover {
  opacity: 0.7;
}

#infotag-and-preset-button-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#list-completed-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

#list-completed-sub {
  width: 50%;
  height: 225px;
  border: 1px solid var(--pink-3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: white;
}

#list-completed-info-and-image {
  display: flex;
  justify-content: flex-start;
}

#list-completed-info > p {
  margin-left: 10px;
  font-family: var(--main-page-header);
  font-size: 25px;
  color: var(--pink-3);
}

#list-completed-info > p:last-child {
  color: black;
  font-size: 22px;
}

#share-url-input {
  width: 300px;
  margin-right: 5px;
}

#list-completed-buttons {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.copied-message {
  position: absolute;
  top: -30px;
  right: 13px;
  font-family: var(--font-1);
  font-size: 15px;
  color: white;
  width: 75px;
  text-align: center;
  background-color: rgb(128, 125, 125);
  visibility: hidden;
}

.copied-message-active {
  visibility: visible;
}
