.giffy-main {
  padding: 25px;
  background-color: white;
  width: 450px;
  border: 2px solid gray;
  border-radius: 2%;
}

.giffy-header {
  font-family: var(--font-6);
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: var(--orange-1);
}

.giphy-search-container {
  margin-top: 20px;
}

.giphy-image-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 2%;
  width: 310px;
  height: 200px;
}


.exit-modal-buttons {
  display: flex;
  justify-content: flex-end;
}

#giphy-search-button,
#giphy-save-button,
#exit-modal-button {
  border: 1px solid gray;
  border-radius: 2%;
  margin-left: 10px;
  padding: 4px;
  width: 100px;
  font-family: var(--font-6);
  color: var(--orange-1);
  background-color: white;
  font-size: 20px;
}

#giphy-search {
  font-size: 20px;
  border: 2px solid gray;
  border-radius: 2%;
  font-family: var(--font-6);
  font-weight: 700;
  width: 200px;
}

#giphy-search-button:hover,
#giphy-save-button:hover,
#exit-modal-button:hover {
  cursor: pointer;
  background-color: rgb(209, 208, 208);
}

#giphy-search-button {
    color: white;
    background-color: var(--orange-1);
}

#option-giphy-image {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}