#create-list-image-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
  margin-bottom: 2%;
}

#create-list-image-container {
  background-color: white;
  height: 200px;
  width: 300px;
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}

#list-image:hover {
  opacity: 70%;
}

#upload-image-button {
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
}
