.list-upload-image-main {
  margin: auto;
  margin-top: 0;
}

.list-upload-image {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 25px;
  height: 250px;
  width: 375px;
  border: 3px dashed var(--gray-2);
}

.list-upload-uploadImage {
  box-sizing: border-box;
  width: 50%;
  border-right: 3px solid var(--gray-2);
  height: 100%;
  position: relative;
}

.list-upload-searchGiffy {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  position: relative;
}

.list-upload-searchGiffy:hover .list-upload-icon-2,
.list-upload-uploadImage:hover .list-upload-icon {
  opacity: 0.9;
}

.list-upload-uploadImage:hover,
.list-upload-searchGiffy:hover {
  cursor: pointer;
}

.list-upload-icon {
  width: 70px;
  height: 70px;
  opacity: 0.6;
}

.list-upload-icon-2 {
  width: 75px;
  height: 75px;
  opacity: 0.5;
}

.list-upload-type-header {
  position: absolute;
  bottom: -10px;
  font-family: var(--font-6);
  font-size: 20px;
  line-height: 24px;
  color: var(--gray-1);
}
