#preset-options-main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#preset-options-sub-container {
  margin-top: 15px;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#options-tabs-container {
  border: 1px solid black;
  width: 40%;
  height: 475px;
  border-radius: 10px;
}

#preset-options-display-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  overflow-y: auto;
  margin-left: 50px;
  height: 475px;
}

#preset-options-display-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  height: 90px;
}

#preset-options-display-item > h1 {
  font-family: var(--font-1);
  font-size: 27px;
  padding-left: 10px;
}

#preset-options-display-item > img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid black;
  margin-right: 10px;
}

#preset-options-button-container {
  margin-top: 15px;
  height: 9%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#preset-options-button-container > button {
  margin: 15px;
  border: 1px solid black;
  padding: 4px;
  width: fit-content;
  min-width: 100px;
  font-family: var(--font-1);
  color: var(--pink-3);
  background-color: white;
  border-radius: 3%;
  font-size: 20px;
}

#preset-options-button-container > button:hover {
  background-color: rgb(209, 208, 208);
}

.preset-tab-ul {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.preset-tab-item {
  width: 100%;
  border-bottom: 1px solid rgb(190, 190, 190);
  display: flex;
  align-items: center;
  padding: 5px 0px 5px 0px;
}

.preset-tab-title {
  font-family: var(--font-1);
  font-size: 20px;
  margin: 0;
  margin-left: 15px;
}

.preset-tab-item:hover {
  background-color: rgb(221, 220, 220);
  cursor: pointer;
}

.active-preset {
  background-color: rgb(221, 220, 220);
  width: 100%;
  border-bottom: 1px solid rgb(190, 190, 190);
  display: flex;
  align-items: center;
  padding: 5px 0px 5px 0px;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 180px;
  right: 180px;
  bottom: 40px;
  background-color: white;
  padding: 15px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(225, 225, 225, 0.8);
}

#save-preset-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 15px;
  padding-top: 15px;
}

#preset-privacy-input {
  margin-bottom: 2%;
}

.preset-input-container {
  display: flex;
  flex-direction: column;
}

.preset-input-label {
  font-family: var(--font-1);
  font-size: 20px;
  color: var(--pink-2);
  font-weight: 900;
}

.Modal-Save {
  position: absolute;
  top: 30%;
  left: 35%;
  right: 35%;
  bottom: 30%;
  background-color: white;
}

#save-preset-options-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#save-preset-options-button-container > button {
  margin: 2%;
  border: 1px solid black;
  padding: 4px;
  width: fit-content;
  min-width: 100px;
  font-family: var(--font-1);
  color: var(--pink-3);
  background-color: white;
  border-radius: 3%;
  font-size: 20px;
}

#save-preset-options-button-container > button:hover {
  background-color: rgb(209, 208, 208);
}