#unlisted-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

#unlisted-input {
  height: 25px;
  width: 25px;
}

#unlisted-input:hover {
  cursor: pointer;
}

#unlisted-label {
  margin: 0;
  margin-left: 5px;
  margin-bottom: 5px;
}
