#unlisted-container {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-tag {
  background-color: rgb(221, 221, 76);
  color: rgba(0, 0, 255, 0.609);
  font-size: 14px;
  font-weight: 700;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: rgb(235, 232, 232);
  color: black;
  font-size: 13px;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: 30px;
  left: 5px;
  z-index: 1;
}

.tooltip-container:hover .tooltiptext {
  visibility: visible;
}

#unlisted-input:hover {
  cursor: pointer;
}

#unlisted-label {
  margin-right: 5px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}