#upload-image-main-container {
  height: 90%;
  width: 100%;
  position: relative;
}

#upload-image-main-title {
  color: var(--pink-2);
}

#gifphy-and-file-container {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.gifphy-and-file-title {
  color: var(--pink-2);
}

#giphy-upload-container,
#file-upload-container {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#option-giphy-image {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  object-fit: cover;
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
}

#giphy-image-container {
  margin: 50px;
  border: 1px solid black;
  width: 300px;
  height: 200px;
  background-color: white;
}

#giphy-search-button,
#giphy-save-button,
#exit-modal-button {
  border: 1px solid black;
  margin-left: 10px;
  padding: 4px;
  width: 100px;
  font-family: var(--font-1);
  color: var(--pink-3);
  background-color: white;
  border-radius: 3%;
  font-size: 20px;
}


#giphy-search-button:hover,
#giphy-save-button:hover,
#exit-modal-button:hover {
  cursor: pointer;
  background-color: rgb(209, 208, 208);
}

#giphy-upload-container {
  border-right: 1px solid black;
  margin-right: -40px;
}

#exit-modal-buttons {
  position: absolute;
  right: 0%;
  bottom: -12%;
}

#upload-file-icon {
  height: 100px;
  width: 100px;
  margin-top: 20%;
}

#upload-file-icon:hover {
  cursor: pointer;
  height: 103px;
  width: 103px;
}

#photo-input {
  width: 38%;
  margin-top: 30%;
}

#giphy-search {
  font-size: 20px;
  font-family: var(--font-1);
  color: var(--pink-4);
  font-weight: 900;
  width: 200px;
}